@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    font-family: "Oswald", sans-serif;
    background-color: #000;
    color: #fff;
    background-image: url('./../img/bg.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0px;
}

.container-left {
    padding: 25px 15px 100px;
    width: 930px;
    min-height: 100vh;
    border-right: 1px solid #162344;
}

.title-1 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.films {

}
.card {
    overflow: hidden;
    padding-bottom: 15px;
    width: 200px;
    border-radius: 6px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    cursor: pointer;
}

.card__img {
    margin-bottom: 15px;
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.card__title {
    padding: 0 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 300;
}

.card__year {
    margin-bottom: 5px;
    color: rgb(7, 150, 252);
    font-size: 14px;
    font-weight: 300;

}

.card__rate {

}